html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
}

#top-five {
  position: absolute;
  left: auto;
  padding-left: 80px;
  padding-top: 20px;
  color: black;
}
