html, body {
  height: 100%;
  font-family: 'Helvetica', 'Arial', sans-serif;
  /* color: rgb(51, 51, 51); */
  color: black;
}

body {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
}

#top-five {
  position: absolute;
  bottom: 200px;
  color: rgb(51, 51, 51);
}

#player1 {
  position: absolute;
  left: 100px;
  bottom: 500px;
}

#player2 {
  position: absolute;
  right: 100px;
  bottom: 500px;
}

#title {
  position: absolute;
  top: 10px;
  color: rgb(51, 51, 51);
  text-align: center;
  font-size: 32px;

}
